<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <title> movie detail</title>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>

<p>hello world !this is details of movies</p>
<div>
    <%= movieId %>

</div>
</body>
</html>