<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <title> movie detail</title>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
<div class="central">
<% include ./partials/header.ejs%>
<p>hello world !this is details of movies</p>
<div>
    <%= movieId %>

</div>

</div>
<% include ./partials/footer %> <!-- permet de faire une inclusion d'un template dans un autre -->
</body>
</html>