<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <title> movies</title>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
<div class="central" >
<% include ./partials/header.ejs%>
<p>hello world</p>
    <div class="moviesDiv">
        <%for(film of films) { %>
        <p><%= film.title %> : <%= film.year %></p>
        <%}%>
    </div>
    <br>
    <form action="/movies" method="post" id="formulaire">
        <label for="movie">Movie</label>
        <input type="text" name="movie" id="movie">
        <label for="year">Année de sortie</label>
        <input type="text" name="yearOut" id="yearOut">

        <button type="submit">Ajouter</button>
    </form>
</div>

<% include ./partials/footer.ejs%>
<script>
    //const form = document.getElementById('formulaire');
   const form = document.querySelector('form'); //recupere un element grace à sa classe ou son type
    form.addEventListener('submit', addMovie);

    function addMovie(event) {// la fonction evenement a appelé pour le formulaire
        event.preventDefault();

        if(fetch) {
            fetch('/movies',
                {
                    method: 'POST',
                    body: new FormData(form)
                }).then(checkStatus)
                .catch(
                    error => {
                        console.error('erreur'+error);
                    }
                );

        }

    }

    function checkStatus(reponse) {
        if(reponse.status>= 200 && reponse.status< 300) {

            let newDiv = document.createElement('div');
            const movieTitle = document.getElementById('movie').value;
            const year = document.getElementById('yearOut').value;
            newDiv.innerHTML = `${movieTitle} ${year}`;
            document.querySelector('.moviesDiv').appendChild(newDiv);
            form.reset();

        }
    }

</script>
</body>

</html>